<a class="card" href="#" target="_blank">
  <div class="card__info">
    <div class="card__tag"></div>
    <div class="card__action">
      <div class="card__action-tooltip">Войдите, чтобы сохранять статьи</div>
      <div class="card__icon">
        <img src="../../../images/bookmark-icon.svg" alt="bookmark card">
      </div>
    </div>
  </div>
  <div class="card__image"></div>
  <div class="card__container">
    <p class="card__date"></p>
    <p class="card__title"></p>
    <p class="card__description"></p>
    <p class="card__source"></p>
  </div>
</a>
