.header__link_active {
  border-bottom: 3px solid white;
  color: white !important;
}

.header__link_dark.header__link_active {
  border-bottom: 3px solid #1a1b22;
  color: #1a1b22 !important;
}

@media(max-width: 700px) {
  .header__link_active {
    border-bottom: none;
  }
}