@import url(./__info/card__info.css);
@import url(./__tag/card__tag.css);
@import url(./__action/card__action.css);
@import url(./__action-tooltip/card__action-tooltip.css);
@import url(./__icon/card__icon.css);
@import url(./__image/card__image.css);
@import url(./__container/card__container.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__description/card__description.css);
@import url(./__source/card__source.css);

.card {
  width: 400px;
  background: #FFFFFF;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  height: 576px;
  text-decoration: none;
  margin-bottom: 16px;
}

.card:hover {
  box-shadow: 0 25px 20px -20px rgba(8, 29, 45, 0.1);
}