@import url(./_active/card__icon_active.css);

.card__icon {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon img {
  opacity: 0.2;
}

.card__action:hover .card__icon img {
  opacity: 1;
}