.section__title {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  padding-top: 80px;
  margin-bottom: 30px;
  max-width: 513px;
}