<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News exprorer</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="shortcut icon" href="<%=require('./images/favicon.png').default%>" type="image/x-icon">
</head>
<body>
  <div class="root">
    <section class="section section_white section_top">
      <div class="section__container">
        <p class="section__aside">Сохранённые статьи</p>
        <h2 class="section__title" id="hello-message"></h2>
        <p class="section__paragraph" id="summary-message"></p>
      </div>
    </section>
    <section class="section">
      <section class="section" id="news-container">
      </section>
    </section>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__site-info">© 2020 Supersite, Powered by News API</div>
        <div class="footer__navigation">
          <div class="footer__links">
            <a href="/" class="footer__link">Главная</a>
            <a href="https://praktikum.yandex.ru/" target="_blank" class="footer__link">Яндекс.Практикум</a>
          </div>
          <div class="footer__socials">
            <a href="https://www.instagram.com/elftatius/" target="_blank" class="footer__social">
              <img src="<%=require('./images/instagram-icon.svg').default%>" alt="instagram-icon">
            </a>
            <a href="https://github.com/elftatius" target="_blank" class="footer__social">
              <img src="<%=require('./images/github-icon.svg').default%>" alt="github-icon">
            </a>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
