.card__source {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  position: absolute;
  bottom: 24px;
}

@media(max-width: 1100px) {
  .card__source {
    bottom: 16px;
  }
}